@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 137 63% 98%;
    --foreground: 137 72% 4%;
    --muted: 137 23% 93%;
    --muted-foreground: 137 1% 29%;
    --popover: 137 63% 97%;
    --popover-foreground: 137 72% 3%;
    --card: 137 63% 97%;
    --card-foreground: 137 72% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 137 45% 65%;
    --primary-foreground: 137 45% 5%;
    --secondary: 137 12% 86%;
    --secondary-foreground: 137 12% 26%;
    --accent: 137 18% 76%;
    --accent-foreground: 137 18% 16%;
    --destructive: 9 97% 36%;
    --destructive-foreground: 0 0% 100%;
    --ring: 137 45% 65%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 137 40% 2%;
    --foreground: 137 12% 99%;
    --muted: 137 23% 7%;
    --muted-foreground: 137 1% 71%;
    --popover: 137 40% 3%;
    --popover-foreground: 0 0% 100%;
    --card: 137 40% 3%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 137 45% 65%;
    --primary-foreground: 137 45% 5%;
    --secondary: 137 18% 14%;
    --secondary-foreground: 137 18% 74%;
    --accent: 137 26% 21%;
    --accent-foreground: 137 26% 81%;
    --destructive: 9 97% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 137 45% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.word-animation {
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  padding-left: -5px;
  padding-right: 5px;
}

.word-animation {
  background-color: hsl(var(--foreground));
  background-image: url("../public/abstract.jpg"), url("../public/abstract.jpg");
  background-repeat: repeat;
  background-size: 2048px;

  -webkit-animation: 72s diagonal-flow infinite linear,
    23s hue-rotate infinite linear;
  animation: 72s diagonal-flow infinite linear, 23s hue-rotate infinite linear;
}

@keyframes diagonal-flow {
  0% {
    background-position: 100px 100px;
  }
  100% {
    background-position: -5020px 4196px;
  }
}

@keyframes hue-rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(-60deg);
    filter: hue-rotate(-60deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}

@-webkit-keyframes diagonal-flow {
  0% {
    background-position: 100px 100px;
  }
  100% {
    background-position: -5020px 4196px;
  }
}

@-webkit-keyframes hue-rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(-60deg);
    filter: hue-rotate(-60deg);
  }
  100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
}
